:root {
  --general-text: #111111;
  --general-color: #ffffff;
  --font-namu: "NAMU 1990", "Arial", sans-serif;
  --transition: all 0.4s;
  --accent-color: #c5358c;
  --accent-color-2: #4d57c8;
  --status-color: #68ae5c;
  --discount-color: #c5358c;
  --old-price-color:  #ABABAB;
  --status-color-not-available: #DC5B5B;
}

html,
body,
main {
  position: relative;
  height: 100%;
}

.body {
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 1.5;
  color: var(--general-text);
}

.body--opened-menu {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}
.container_max {
  max-width: 1558px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}
.container {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.title {
  font-family: var(--font-namu);
  font-size: clamp(24px, 3.3vw, 45px);
  line-height: 1.1;
}

.button {
  max-width: 235px;
  padding: clamp(7px, 1.12vw, 16px) clamp(20px, 3.7vw, 52px);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  background: var(--accent-color-2);
  color: var(--general-color);

  font-family: "Open Sans";
  font-size: clamp(16px, 1.72vw, 24px);
  line-height: 1.4;
  transition: var(--transition);
}

.button:hover {
  background: var(--accent-color);
}
