@font-face {
  font-family: "Big Shoulders";
  src: local("Big Shoulders Medium"), local("BigShoulders-Medium"),
    url("BigShoulders-Medium.woff2") format("woff2"),
    url("BigShoulders-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
